<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login</title>

    <meta
    	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    	name="viewport">

    <link rel="stylesheet"
    	th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
    	th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet"
    	th:href="@{/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet"
    	th:href="@{/plugins/adminLTE/css/AdminLTE.css}">
    <link rel="stylesheet"
    	th:href="@{/plugins/iCheck/square/blue.css}">
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>智能合约服务系统</b></a>
		</div>

		<div class="login-box-body">
			<p class="login-box-msg">登录系统</p>
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<form th:action="@{/user/login}" method="post">
				<div class="form-group has-feedback">
					<input type="text" name="username" class="form-control"
						placeholder="用户名"> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password" class="form-control"
						placeholder="密码"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label><input type="checkbox" name="remember-me" value="true"> 记住 下次自动登录</label>
						</div>
					</div>

					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
					</div>
				</div>
			</form>

			<a th:href="@{/register.html}">注册</a><br>


		</div>

	</div>

	<!-- jQuery 2.2.3 -->
	<!-- Bootstrap 3.3.6 -->
	<!-- iCheck -->
	<script
		th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<script
		th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{/plugins/iCheck/icheck.min.js}"></script>
	<script>
		$(function() {
			$('input').iCheck({
				checkboxClass : 'icheckbox_square-blue',
				radioClass : 'iradio_square-blue',
				increaseArea : '20%' // optional
			});
		});
	</script>
</body>

</html>